absl-py==0.10.0
aio-pika==6.7.1
aiofiles==0.6.0
aiohttp==3.7.4
aiormq==3.3.1
alembic==1.4.2.dev0
altair==4.1.0
amqp==5.0.5
aniso8601==7.0.0
anyjson==0.3.3
appdirs==1.4.4
APScheduler==3.6.3
argon2-cffi==20.1.0
asgiref==3.3.1
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
backcall==0.2.0
base58==2.0.1
bcrypt==3.1.7
beautifulsoup4==4.9.1
billiard==3.6.3.0
bleach==3.2.1
blinker==1.4
boto3==1.16.49
botocore==1.19.60
Brlapi==0.7.0
bs4==0.0.1
cached-property==1.5.1
cachetools==4.2.0
celery==5.0.5
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
chowkidar-graphene==0.5.6
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cloudpickle==1.4.1
colorama==0.4.3
colorclass==2.2.0
coloredlogs==14.3
colorhash==1.0.3
command-not-found==0.3
configparser==5.0.1
cryptography==3.4.3
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
discord==1.0.1
discord.py==1.6.0
distlib==0.3.1
distro==1.5.0
distro-info===0.23ubuntu1
dj-database-url==0.5.0
Django==3.1.6
django-allow-cidr==0.3.1
django-celery-beat==2.2.0
django-heroku==0.3.1
django-ipware==3.0.2
django-ses==1.0.3
django-storages==1.11.1
django-timezone-field==4.1.1
dm-tree==0.1.5
dnspython==1.16.0
docker==4.1.0
docker-compose==1.25.0
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
dulwich==0.20.18
duplicity==0.8.12.0
ecdsa==0.15
entrypoints==0.3
environs==9.3.0
fasteners==0.14.1
fbmessenger==6.0.0
feedparser==6.0.2
filelock==3.0.12
Flask==1.1.2
Flask-BabelEx==0.9.4
Flask-Compress==1.4.0
Flask-Gravatar==0.4.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security-Too==3.4.2
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.3
future==0.18.2
gast==0.3.3
git-review==1.28.0
gitdb==4.0.5
GitPython==3.1.11
google==3.0.0
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
google-search==1.0.2
googleapis-common-protos==1.52.0
googlesearch-python==2020.0.2
gpg===1.14.0-unknown
graphene==2.1.8
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
grimoirelab-toolkit==0.1.12
grpcio==1.34.0
gyp==0.1
h11==0.9.0
h5py==2.10.0
heroku==0.1.4
html2text==2020.1.16
html5lib==1.1
httpcore==0.11.1
httplib2==0.18.1
httptools==0.1.1
httpx==0.15.4
huey==2.3.0
humanfriendly==9.1
idna==2.10
importlib-metadata==1.6.0
imutils==0.5.4
install==1.3.4
ipykernel==5.4.1
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.2
jeepney==0.4.3
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.1
jsonpickle==1.4.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.1.0
jupyter-core==4.7.0
jupyter-http-over-ws==0.0.8
jupyterlab-pygments==0.1.2
kafka-python==1.4.7
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring==21.3.0
kiwisolver==1.3.1
kombu==5.0.2
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
ldap3==2.7
lockfile==0.12.2
louis==3.14.0
lxml==4.6.2
Mako==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
marshmallow==3.10.0
matplotlib==3.3.4
mattermostwrapper==2.2
mistune==0.8.4
monotonic==1.5
more-itertools==4.2.0
multidict==4.7.6
natsort==7.0.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netaddr==0.8.0
netifaces==0.10.4
networkx==2.5
notebook==6.1.5
numpy==1.20.1
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.7
pamqp==2.3.0
pandas==1.2.2
pandocfilters==1.4.3
paramiko==2.7.1
parso==0.7.1
passlib==1.7.2
perceval==0.17.4
pexpect==4.6.0
pickleshare==0.7.5
pika==1.1.0
Pillow==8.1.0
pipreqs==0.4.10
plotly==4.14.3
pocketsphinx==0.1.15
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==2.0.10
protobuf==3.14.0
psutil==5.7.2
psycopg2==2.8.6
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.9.7
pycups==2.0.1
pydeck==0.5.0
pydot==1.4.1
Pygments==2.7.4
PyGObject==3.38.0
pyinotify==0.9.6
PyJWT==1.7.1
pykwalify==1.7.0
pymongo==3.10.1
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-apt==2.1.3+ubuntu1.3
python-crfsuite==0.9.7
python-crontab==2.5.1
python-dateutil==2.8.1
python-debian==0.1.37
python-dotenv==0.15.0
python-engineio==3.13.2
python-socketio==4.6.1
python-telegram-bot==12.8
python3-openid==3.2.0
pyttsx3==2.90
pytz==2021.1
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==20.0.0
questionary==1.5.2
rasa==2.1.3
rasa-sdk==2.1.2
rasa-x==0.34.0
redis==3.5.3
regex==2020.9.27
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
retrying==1.3.3
rfc3986==1.4.0
rocketchat-API==1.9.1
rsa==4.6
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
Rx==1.6.1
s3transfer==0.3.3
sacremoses==0.0.43
sanic==20.9.1
Sanic-Cors==0.10.0.post3
sanic-jwt==1.4.1
Sanic-Plugins-Framework==0.9.4.post1
schedule==1.0.0
scikit-learn==0.24.1
scipy==1.6.0
screen-resolution-extra==0.0.0
SecretStorage==3.1.2
Send2Trash==1.5.0
sentencepiece==0.1.94
sentry-sdk==0.19.5
seqeval==1.2.2
sgmllib3k==1.0.0
shortuuid==1.0.1
simplejson==3.17.0
simpletransformers==0.51.3
singledispatch==3.4.0.3
sip==4.19.24
six==1.15.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smmap==3.0.4
sniffio==1.2.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
socialreaper==0.3.0
soupsieve==2.0.1
speaklater==1.4
SpeechRecognition==3.8.1
SQLAlchemy==1.3.19
sqlparse==0.4.1
sshtunnel==0.1.4
streamlit==0.72.0
subprocess32==3.5.4
systemd-python==234
tabulate==0.8.7
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.3.1
tensorflow-addons==0.11.2
tensorflow-estimator==2.3.0
tensorflow-hub==0.9.0
tensorflow-probability==0.11.1
tensorflow-text==2.3.0
termcolor==1.1.0
terminado==0.9.1
terminaltables==3.1.0
testpath==0.4.4
text-summarizer==0.0.6
text-unidecode==1.3
texttable==1.6.2
threadpoolctl==2.1.0
tokenizers==0.9.4
toml==0.10.2
toolz==0.11.1
torch==1.7.1
tornado==6.1
tqdm==4.50.2
traitlets==5.0.5
transformers==4.0.1
twilio==6.45.4
typeguard==2.10.0
typing-extensions==3.7.4.3
tzlocal==2.1
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
ujson==1.35
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.25.9
uvloop==0.14.0
validators==0.18.1
vboxapi==1.0
vine==5.0.0
virtualenv==20.0.29+ds
wadllib==1.3.4
wandb==0.10.12
watchdog==1.0.1
wcwidth==0.2.5
webencodings==0.5.1
webexteamssdk==1.6
websocket-client==0.53.0
websockets==8.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
wikipedia==1.4.0
wrapt==1.12.1
WTForms==2.2.1
wxPython==4.0.7
xkit==0.0.0
yarg==0.1.9
yarl==1.5.1
youtube-dl==2020.9.14
zipp==1.0.0
