{% load static %}
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
</head>

<center>
    <p style="color: #001a33; font-size: 24px;">C O G N I Z A N C E</p><br><hr style="width:40%;"><br>
    <p style="font-size: 30px; color: #001a33;"><b>Congratulations {{name}} 🥳<br>You have been accepted to Cognizance!</b></p>
<br>
<p style="padding: 30px; line-height: 2; border-style: solid; border-width: 2px; font-size: 18px; color: #404040; border-radius: 10px; border-color: #001a33; width: 40%;">
We are so excited to invite you to join the Cognizance recruitment server. Your passion for learning and building is impressive, and we can't wait to have you in our club. Please find the link to join our recruitment server in Discord attached below.<br><br>
<a href = "https://discord.gg/8ZaWNRSmG9"><button style="border-radius: 10px; padding: 10px; background-color:#001a33; color: white;">Join Discord Server</button></a> <br>
<br>
</p>
</center>
<br><hr style="width:40%;"><br><hr><br>
Cheers,<br>
<b>Team Cognizance</b><br><br><hr>
<code>
Wishing you for a productive day ahead.
</code><br><hr>
