{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cognizance</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/smoothproducts.css' %}">
</head>

<body style="background: url({% static 'img/tech/619899.jpg' %});">
    <nav class="navbar navbar-light navbar-expand-md" style="background: #ebeaea;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="font-weight: bold;color: var(--gray);">Meetings</a><button class="navbar-toggler" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
    </nav>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Meeting Scheduler<button class="btn btn-primary" type="button" style="margin-left: 60%;">Add meeting</button></h4>
            <h6 class="text-muted card-subtitle mb-2">{{count}} meetings scheduled this week</h6>
        </div>
    </div>
    <div class="table-responsive" style="background: #f5f1f1;">
        <table class="table">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Venue &amp; Time</th>
                    <th>Organiser</th>
                    <th>Group</th>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
                {% for meeting in meetings %}
                <tr>
                    <td>{{meeting.subject}}</td>
                    <td>{{meeting.venue}}</td>
                    <td>{{meeting.organiser}}</td>
                    <td>{{meeting.status}}</td>
                    <td>{{meeting.group}}</td>
                    <td><button class="btn btn-primary" type="button" style="margin-left: 60%; background-color:green;">Edit</button></td>
                </tr>
                {% endfor %}
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static 'js/Simple-Slider.js' %}"></script>
</body>

</html>