{% load static %}
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
</head>
<center>
    <p style="color: #001a33; font-size: 24px;">C O G N I Z A N C E</p><br><hr style="width:40%;"><br>
    <p style="font-size: 30px; color: #001a33;"><b>We are sorry {{name}} 😔<br>Better luck next time :(</b></p>
<br>
<p style="padding: 30px; line-height: 2; border-style: solid; border-width: 2px; font-size: 18px; color: #404040; border-radius: 10px; border-color: #001a33; width: 40%;">
Your passion for learning and building is impressive, but we couldn't accept your application right now. We will be recruiting again in a few months. So, don't lose hope and build you techstack in the meantime.<br><br>
</p>
</center>
<br><hr style="width:40%;"><br><hr><br>
Cheers,<br>
<b>Team Cognizance</b><br><br><hr>
<code>
Wishing you for a productive day ahead.
</code><br><hr>