{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cognizance</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/smoothproducts.css' %}">
</head>

<body style="background: url({% static 'img/tech/619899.jpg' %});">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="background: rgb(20,20,21);">
        <div class="container"><a class="navbar-brand logo" href="#" style="font-weight: bold;color: var(--orange);font-family: ABeeZee, sans-serif;">Cognizance</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">LOGIN</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'gallery' %}">GALLERY</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'achievements' %}">ACHIEVEMENTS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/applications">APPLY</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blogs' %}">BLOGS</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="card" style="margin-top: 125px;border-style: none;">
        <div class="card-body">
            <h4 class="card-title" style="font-weight: bold;color: var(--gray);margin-bottom: 0px;margin-left: 50px;margin-top: 20px;font-size: 30px;">Blogs</h4>
            {% if empty %}
                <p style="margin-top: 60px;margin-left: 50px;font-size: 20px;">Currently there are no blogs.</p>
            {% else %}
            {% for blog in blogs %}
                <div class="card" style="border-radius: 9px;border: 1px solid var(--blue) ; margin-top: 20px;">
                <div class="card-body" style="border-color: var(--blue);">
                    <h1 class="d-block float-none" style="width: auto;font-size: 24px;font-weight: bold;color: var(--blue);"><img class="float-none" style="width: 100px;height: 80px;" src = {% static blog.thumbnail %}>&nbsp; &nbsp; {{blog.title}}</h1>
                    <p style="margin-top: 15px;">Author : {{blog.author}}</p>
                    <p style="margin-bottom: 0px;">Posted on: {{blog.posted_date}}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static 'js/Simple-Slider.js' %}"></script>
</body>

</html>