<!DOCTYPE html>
<html>
<!--LOGIN PAGE -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
</head>

<body style="height: 900px;min-height: 900px;">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Cognizance</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="/adminapp/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login/">LOGIN</a></li>
                    <li class="nav-item"><a class="nav-link" href="/gallery/">GALLERY</a></li>
                    <li class="nav-item"><a class="nav-link" href="/achievements/">ACHIEVEMENTS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/applications">APPLY</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blogs/">BLOGS</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Start: Login Form Clean -->
    <div class="login-clean" style="background: url(/static/img/tech/619899.jpg);padding-bottom: 40px;">
        <br>
        <br>
        <br>

        <input type="hidden" name="csrfmiddlewaretoken" value="Q6Z1btTFDUhGNl4AxgrQclfct5nDySRhDdQbxxkFOIju612hFe6uSbn4dRP9QQAf">
        <h1 style="font-weight:bold;">Password reset sent</h1>

        <p>

            <h3 style="color:white;"> We've emailed you instructions for setting your password, if an account exxists with the email you entered. You should receive them shortly.</h3>
        </p>
        <p>
            <h3 style="color:white;"> If you didn't receive an email, please make sure you've entered the address you registered with and check the spam folder. </h3>
        </p>
        </input>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- End: Login Form Clean -->
    <main class="page"></main>
    <!-- Start: Footer Dark -->
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/home">Home</a></li>

                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/achievements">Achievements</a></li>
                        <li><a href="/about">Contact us</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2021 Copyright - Cognizance</p>
        </div>
    </footer>
    <!-- End: Footer Dark -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>